.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    padding: 4rem 2em;
    gap: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 1rem;
    background-color: #03001C;
    box-shadow: 0 0 .2rem #fff,
        0 0 2rem darkmagenta,
        0 0 1.4rem #B6EADA,
        0 0 2.8rem #bc13fe;
}

@media (max-width: 1500px) {
    .Card {
        width: 50%;
        padding: 4rem 1.5em;
    }
}

@media (max-width: 1300px) {
    .Card {
        width: 60%;
        padding: 4rem 1.25em;
    }
}

@media (max-width: 1000px) {
    .Card {
        width: 70%;
        padding: 4rem 1em;
    }

}

@media (max-width: 860px) {
    .Card {
        width: 80%;
        padding: 4rem 0.75em;
    }


}

@media (max-width: 560px) {
    .Card {
        width: 88%;
        padding: 4rem 0.5em;
    }
}